<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Upload literature</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Let's co-create the world's largest repository of audiobooks in Indian languages, for the visually impaired. Just pick up some literature, #LendYourVoice and submit the recording, to be the voice they hear." />
		<meta name="keywords" content="LendYourVoice,Project,Awaaz,projectawaaz,lend,your,voice,kibo,record,visually,impaired,blind" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="/static/lyv/js/skel.min.js"></script>
		<script src="/static/lyv/js/skel-layers.min.js"></script>
		<script src="/static/lyv/js/init.js"></script>
		<!-- <script src="/static/lyv_record/js/submit.js"></script> -->

		<noscript>
			<link rel="stylesheet" href="/static/lyv/css/skel.css" />
			<link rel="stylesheet" href="/static/lyv/css/style.css" />
			<link rel="stylesheet" href="/static/lyv/css/style-xlarge.css" />
		</noscript>

	</head>

	<body>
	<div id="wrapper">
		{% include "lyv/header.html" %}


		
		<!-- Three -->
			<section id="three" class="wrapper style3 special">
				<div class="container">
					<header class="major">
						<h3>Upload you own literature!</h3>
						<div class="btn-group dropdown">
						  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
						  <span id="language">Choose Language</span>
						  <span class="caret"></span></button>
						  <ul class="dropdown-menu">
						    <li><a onclick="changeText('English')">English</a></li>
							<li><a onclick="changeText('Hindi')">Hindi</a></li>
							<li><a onclick="changeText('Gujarati')">Gujarati</a></li>
							<li><a onclick="changeText('Tamil')">Tamil</a></li>
							<li><a onclick="changeText('Marathi')">Marathi</a></li>
						  </ul>
						</div>

					</header>
				</div>

				<div class="container 50%">
					<form id="feedbackform" action="/upload/file" method="post">{% csrf_token %}
						<div class="row uniform">
							<div class="6u 12u$(small)">
								<input name="title" id="title" value="" placeholder="Title" type="text">
							</div>
							<div class="6u$ 12u$(small)">
								<input name="author" id="author" value="" placeholder="Author" type="text">
							</div>
							<div class="6u 12u$(small)">
								<input name="language" id="chosenlang" value="" placeholder="Language" type="hidden" readonly>
							</div>
							<div class="12u$">
								<textarea name="body" id="body" placeholder="Literature" rows="6"></textarea>
							</div>
							<div class="12u$">
								<ul class="actions">
									<li><input value="Submit" class="special big" type="submit"></li>
								</ul>
							</div>
						</div>
					</form>
					<p id="thankyoumessage" style="visibility: hidden;">
						Thanks for the message! We will get back to you shortly.
					</p>
				</div>
			</section>
			<br/>
	</div>

	<script type="text/javascript">
		
		function changeText(lang){
			console.log(lang);
			$("#language").text(String(lang));
			$("#chosenlang").val(String(lang));
		}
	</script>
		{% include "lyv/footer.html" %}

		{% include "lyv/loginmodal.html" %}

	</body>


</html>